<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-ssh-connect" version="1.1.1">
   <name>Cordova Plugin SSH Connect</name>
   <description>Cordova plugin to make connections and execute commands through SSH</description>
   <keywords>cordova,ssh,ssh connect</keywords>
   <author>Jose Andrés Pérez Arévalo - joseaperez27@outlook.com</author>
   <license>Apache-2.0</license>
   <repo>git+https://github.com/JosePerez27/cordova-plugin-ssh-connect.git</repo>
   <issue>https://github.com/JosePerez27/cordova-plugin-ssh-connect/issues</issue>

    <js-module name="sshConnect" src="www/sshConnect.js">
        <clobbers target="cordova.plugins.sshConnect" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="sshConnect">
                <param name="android-package" value="sshConnect" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <lib-file src="src/android/libs/jsch-0.1.55.jar" />
        <source-file src="src/android/sshConnect.java" target-dir="src/jp/ssh" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="sshConnect">
                <param name="ios-package" value="sshConnect" />
            </feature>
        </config-file>

        <!-- Bridging Header -->
        <header-file src="src/ios/SSHConnect-Bridging-Header.h" type="BridgingHeader" />

        <!-- Source files -->
        <source-file src="src/ios/SSHConnect.swift" />
        <source-file src="src/ios/SSHConnectError.swift" />

        <!-- Swift support dependency -->
        <dependency id="cordova-plugin-add-swift-support" version="1.7.2" />

        <!-- Dependency pod frameworks -->
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="NMSSH" spec="~> 2.3.1" />
            </pods>
        </podspec>
    </platform>
</plugin>
